[Unit]
Description=strongSwan IPsec IKEv1/IKEv2 daemon using ipsec.conf
After=network-online.target

[Service]
ExecStartPre=START_PRE
ExecStart=/usr/sbin/ipsec start --nofork
ExecStopPost=STOP_POST
ExecReload=/usr/sbin/ipsec reload
StandardOutput=syslog
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
